@import url("components/banner.css");
@import url("components/card.css");
@import url("components/skills.css");

body {
  font-family: 'Lora', serif;
  color: #031144;
  font-size: 15px;
  font-weight: bold;
  display: block;
  background-color: #0A1931;
}

.container {
  width: 700px;
  margin: 40px auto;
}

/* Media queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}


